@font-face {
    font-family: 'Plus Jakarta Sans Local';
    src: url('/wp-content/themes/harmony-care/theme-config/assets/fonts/plus-jakarta-sans-local/PlusJakartaSans-Regular.woff2') format('woff2'),
        url('/wp-content/themes/harmony-care/theme-config/assets/fonts/plus-jakarta-sans-local/PlusJakartaSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Plus Jakarta Sans Local';
    src: url('/wp-content/themes/harmony-care/theme-config/assets/fonts/plus-jakarta-sans-local/PlusJakartaSans-Bold.woff2') format('woff2'),
        url('/wp-content/themes/harmony-care/theme-config/assets/fonts/plus-jakarta-sans-local/PlusJakartaSans-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Plus Jakarta Sans Local';
    src: url('/wp-content/themes/harmony-care/theme-config/assets/fonts/plus-jakarta-sans-local/PlusJakartaSans-Medium.woff2') format('woff2'),
        url('/wp-content/themes/harmony-care/theme-config/assets/fonts/plus-jakarta-sans-local/PlusJakartaSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Plus Jakarta Sans Local';
    src: url('/wp-content/themes/harmony-care/theme-config/assets/fonts/plus-jakarta-sans-local/PlusJakartaSans-SemiBold.woff2') format('woff2'),
        url('/wp-content/themes/harmony-care/theme-config/assets/fonts/plus-jakarta-sans-local/PlusJakartaSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

