@font-face {
  font-family: 'cmsmasters-demo-icons';
  src:  url('/wp-content/uploads/2025/01/fonts/cmsmasters-demo-icons.eot?49c8c');
  src:  url('/wp-content/uploads/2025/01/fonts/cmsmasters-demo-icons.eot?49c8c#iefix') format('embedded-opentype'),
    url('/wp-content/uploads/2025/01/fonts/cmsmasters-demo-icons.ttf?49c8c') format('truetype'),
    url('/wp-content/uploads/2025/01/fonts/cmsmasters-demo-icons.woff?49c8c') format('woff'),
    url('/wp-content/uploads/2025/01/fonts/cmsmasters-demo-icons.svg?49c8c#cmsmasters-demo-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="cmsms-demo-icon-"], [class*=" cmsms-demo-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'cmsmasters-demo-icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cmsms-demo-icon-chat-round-dots:before {
  content: "\e900";
}
.cmsms-demo-icon-check:before {
  content: "\e901";
}
.cmsms-demo-icon-heart:before {
  content: "\e902";
}
.cmsms-demo-icon-icon-1:before {
  content: "\e903";
}
.cmsms-demo-icon-icon-2:before {
  content: "\e904";
}
.cmsms-demo-icon-icon-3:before {
  content: "\e905";
}
.cmsms-demo-icon-icon-4:before {
  content: "\e906";
}
.cmsms-demo-icon-icon-5:before {
  content: "\e907";
}
.cmsms-demo-icon-icon-6:before {
  content: "\e908";
}
.cmsms-demo-icon-icon-7:before {
  content: "\e909";
}
.cmsms-demo-icon-icon-8:before {
  content: "\e90a";
}
.cmsms-demo-icon-icon-9:before {
  content: "\e90b";
}
.cmsms-demo-icon-icon-10:before {
  content: "\e90c";
}
.cmsms-demo-icon-icon-11:before {
  content: "\e90d";
}
.cmsms-demo-icon-icon-12:before {
  content: "\e90e";
}
.cmsms-demo-icon-icon-13:before {
  content: "\e90f";
}
.cmsms-demo-icon-icon-14:before {
  content: "\e910";
}
.cmsms-demo-icon-icon-15:before {
  content: "\e911";
}
.cmsms-demo-icon-insurance:before {
  content: "\e912";
}
.cmsms-demo-icon-location:before {
  content: "\e913";
}
.cmsms-demo-icon-menu:before {
  content: "\e914";
}
.cmsms-demo-icon-phone:before {
  content: "\e915";
}
.cmsms-demo-icon-quote:before {
  content: "\e916";
}
.cmsms-demo-icon-search:before {
  content: "\e917";
}
.cmsms-demo-icon-star:before {
  content: "\e918";
}
.cmsms-demo-icon-time:before {
  content: "\e919";
}
.cmsms-demo-icon-arrow:before {
  content: "\e91a";
}
.cmsms-demo-icon-arrow-down:before {
  content: "\e91b";
}
.cmsms-demo-icon-arrow-left:before {
  content: "\e91c";
}
.cmsms-demo-icon-arrow-right:before {
  content: "\e91d";
}
.cmsms-demo-icon-arrow-up:before {
  content: "\e91e";
}
.cmsms-demo-icon-calendar:before {
  content: "\e91f";
}
