@font-face {
    font-family: 'Lora Local';
    src: url('/wp-content/uploads/2025/01/Lora-Italic.woff2') format('woff2'),
        url('/wp-content/uploads/2025/01/Lora-Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lora Local';
    src: url('/wp-content/uploads/2025/01/Lora-Regular.woff2') format('woff2'),
        url('/wp-content/uploads/2025/01/Lora-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

